<!DOCTYPE html>
<html>
  <head>
    <title>RealEstate</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%- flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <div class="col-md-6 float-center center-block main">
      <% if current_user %>
        <%= link_to("Logout", destroy_user_session_path, method: :delete , class: 'btn btn-danger') %>
        <%= link_to("Back to Home", root_path , class: 'btn btn-default') %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
